<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="kr.co.flowerwed.master.model.dao.VisitCountMapper">


	<insert id="setVisitTotalCount">
	INSERT INTO visit (ip, regdate) VALUES (#{ip}, now())
	</insert>
	
	<select id="getVisitTodayCount" resultType="int">
		 <![CDATA[ 	
					
		  SELECT  count(DISTINCT   ip ) as count from visit
		
		  		WHERE regdate > curdate()
  		
  		]]>
	</select>
	
	<select id="getVisitTotalCount" resultType="int">
	 <![CDATA[ 	
	SELECT count(DISTINCT   ip ) as count from visit
	]]>
	</select>
		  
</mapper>

